# Python-related
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Environment variables file (if used)
.env

# Docker
.dockerignore

# Logs and output files
*.log
*.out

# Compiled files
*.exe
*.dll
*.so
*.dylib

# Miscellaneous
.idea/
.vscode/
.vercel